!!! 5
meta(charset='utf-8')
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/d3.js')
    script(src='http://localhost:3000/socket.io/socket.io.js')
    script(src='/javascripts/script.js')
  body
    block content
