!!! 5
meta(charset='utf-8')
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form
      label
        input(type='radio', name='mode', value='size')
        | Size
      label
        input(type='radio', name='mode', value='count', checked='checked')
        | Count
    script(src='http://d3js.org/d3.v3.min.js')
    block content

    
    
    
