extends layout

block content
  script(type='text/javascript').
    socket.on('updateMindwave', function (data) {
      if (data['blinkStrength'] == null && data['poorSignalLevel'] < 190) {
        blinking = false;
        var color = d3.scale.linear()
          .range(["#003b3d", "#e7feff"]);
          //- .range(["#ebfbfb", "#02090a"]);
          //- .range(["#fff", "#000"]);
        sense = data['eSense']['meditation']/100;
        bg = color(sense);
        //- d3.select(".left p").text(sense);
        d3.select(".top").transition().duration(500).style("background-color", bg);

        var color2 = d3.scale.linear()
          //- .range(["#ebfbfb", "#02090a"]);
          .range(["#003b3d", "#e7feff"]);
          //- .range(["#19020c", "#fde9f1"]);
          //- .range(["#fff", "#000"]);
        sense2 = data['eSense']['attention']/100;
        bg2 = color2(sense2);
        //- d3.select(".right p").text(sense2);
        d3.select(".bottom").transition().duration(500).style("background-color", bg2);
      } else {
        blinking = data['blinkStrength'];
      }
      // waveData['eSense']['attention']
      // waveData['eSense']['meditation']
     
    });
  .bg
    .top
    .bottom