body
  font-family sans-serif
  width 100%
  height 100%
  margin 0px
  background #ccc
  overflow hidden
	

form
  position absolute
  right 10px
  top 10px

a
  color #00b7ff

.bg
	background #000
	width 100%
	height 100%
	position absolute

.center 
	width 100%
	height 100%
	position absolute

.center img
	width 100%
	height 100%
	position absolute
	// opacity .1
	// background url('/images/abstract-waves.jpg')

.top, .bottom
	width 100%
	height 50%
	position absolute
	opacity .9 	
.top
	top 0
.bottom
	bottom 0

.left p, .right p 
	width 25%
	height 25%
	position absolute
	top 20%
	left 35%
	background #000
	color #fff
	font-size 100px